<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077413699892-metn0rmc2avnbgkr3dcod68g0uppih06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077413699892-metn0rmc2avnbgkr3dcod68g0uppih06</string>
	<key>API_KEY</key>
	<string>AIzaSyBn2UucDnAA4Mq02qLze2FQLL1T6Lxm_M0</string>
	<key>GCM_SENDER_ID</key>
	<string>1077413699892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.lhdigital.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramtutorial-e280d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramtutorial-e280d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077413699892:ios:168dfb928b59ed267a8561</string>
</dict>
</plist>